<!-- index.erb aka Home/Reroll-->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item accented-nav">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Fighting Fantasy Companion</h1>
  
  <div class="dice-container width-container">
    <img src="/images/<%= DICE_ICONS[@die1] %>" id="left-die" alt="A 3D six-sided die facing with a random side up">
    <img src="/images/<%= DICE_ICONS[@die2] %>" id="right-die" alt="A 3D six-sided die facing with a random side up">
    <h2 class="die-roll-result"> <%= @die1 %> </h2>
    <h2 class="die-roll-result"> <%= @die2 %> </h2>
  </div>

  <div class="reversed-colour-scheme">
    <section class="stats-display width-container">
      <h2 class="stat-title"> SKILL: <%= session[:current_skill] %> </h2>
      <h2 class="stat-title"> STAMINA: <%= session[:current_stamina] %> </h2>
      <h2 class="stat-title"> LUCK: <%= session[:current_luck] %></h2>
    </section>
  </div>

  <section class="width-container centred-text">
    <h2> Current Book Section: </h2>
    <h2 class="bookmark-value"> <%= session[:bookmark] %> </h2>
  </section>

  <section class="width-container centred-text">
    <h2> Current Gold Pieces: </h2>
    <h2 class="bookmark-value"> <%= session[:gold] %> </h2>
  </section>

  <section class="width-container centred-text">
    <h2> Inventory:</h2>
    <ul class="inventory-list">
      <% @inventory.each do |item| %>
        <li class="inventory-item"> <%= item %> </li>
      <% end %>
    </ul>
  </section>

  <section class="width-container centred-text">
    <h2> Notes:</h2>
    <ul class="inventory-list">
      <% @notes.each do |note| %>
        <li class="inventory-item"> <%= note %> </li>
      <% end %>
    </ul>
  </section>

</main>