<!-- index.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item accented-nav">Reload/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <h1 class="centred-text">Fighting Fantasy Companion</h1>
  
  <div class="dice-container width-container">
    <img src="/images/<%= DICE_ICONS[@die1] %>" id="left-die" alt="A 3D six-sided die facing with the six side up">
    <img src="/images/<%= DICE_ICONS[@die2] %>" id="right-die" alt="A 3D six-sided die facing with the six side up">
    <h2 class="die-roll-result"> <%= @die1 %> </h2>
    <h2 class="die-roll-result"> <%= @die2 %> </h2>
  </div>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <div class="reversed-colour-scheme">
    <section class="stats-display width-container">
      <h2 class="stat-title"> SKILL: <%= session[:current_skill] %> </h2>
      <h2 class="stat-title"> STAMINA: <%= session[:current_stamina] %> </h2>
      <h2 class="stat-title"> LUCK: <%= session[:current_luck] %></h2>
    </section>
  </div>

  <section class="width-container centred-text">
    <h2> Current Book Section: </h2>
    <h2 class="bookmark-value"> <%= session[:bookmark] %> </h2>
  </section>

  <section>
    <div class="width-container">

      <h2 class="centred-text">Restoring Skill, Stamina and Luck</h2>

      <p>You follow the cavern wall all the way around until</p>
      <p>You will often come across pages in the book which</p>
      <p><strong>The above lines should be almost exactly one width wide if we are matching the FF books typesetting.</strong></p>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>

      <h2 class="centred-text">Fighting More Than One Creature</h2>
  
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>

    </div>
  </section>

  <section class="reversed-colour-scheme">
      <div class="width-container">

        <h2 class="centred-text">Fighting More Than One Creature</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
      </div>
  </section>

  <section>
    <div class="width-container">
      <h2 class="centred-text">Inventory</h2>
      <ul class="inventory-list">
        <li>Something</li>
        <li>Something else...</li>
        <li>Last thing.</li>
      </ul>
    </div>
  </section>

</main>