<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Reload/Reroll</a>
    <a href="/stats" class="nav-item accented-nav">Stats</a>
    <a href="#" class="nav-item">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item ">Help</a>
  </nav>
</header>

<main>

  <h1 class="centred-text">Stats</h1>
  
  <div class="dice-container width-container">
    <img src="/images/<%= DICE_ICONS[@die1] %>" id="left-die" alt="A 3D six-sided die facing with the six side up">
    <img src="/images/<%= DICE_ICONS[@die2] %>" id="right-die" alt="A 3D six-sided die facing with the six side up">
    <h2 class="die-roll-result"> <%= @die1 %> </h2>
    <h2 class="die-roll-result"> <%= @die2 %> </h2>
  </div>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <div class="reversed-colour-scheme">
    <section class="stats-display width-container">
      <h2 class="stat-title"> SKILL: <%= session[:current_skill] %> </h2>
      <h2 class="stat-title"> STAMINA: <%= session[:current_stamina] %> </h2>
      <h2 class="stat-title"> LUCK: <%= session[:current_luck] %></h2>
    </section>
  </div>

  <section class="width-container centred-text">

    <form action="/stats/input-random" method="post" class="centred-text">
      <button class="reversed-colour-scheme" type="submit">Create Random Stats</button>
    </form>

    <a href="/stats/input-manual" class="link-button">Manually Create or Update Stats</a>

  </section>

</main>